# Clang-Tidy Configuration File
Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-signed-char-misuse,

  clang-analyzer-*,
  -clang-analyzer-osx-*,
  -clang-analyzer-unix-*,
  -clang-analyzer-webkit-*,

  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-loop-convert,
  -modernize-macro-to-enum,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-use-trailing-return-type,
  -modernize-use-using,

  misc-*,
  -misc-const-correctness,
  -misc-definitions-in-headers,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,

  performance-*,
  -performance-enum-size,
  -performance-avoid-endl,

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
